html, body{
	height: 100%;
	width: 100%;
	margin: 0px;
}

.navbar{
	/*height: 7%;
	background: rgb(106, 56, 42);*/
	background-color: rgb(106, 56, 42) ;
	width: 100%;
	height: 7%;
	position: fixed;
	top: 0;
	left: 0;
}

.page {
	height: 100%;
	width: 100%;
	margin-top: 7%;
}
.container{
	background: red;
	height: 93%;
	background: url(../img/ini.jpg);
	width: 100%;
	margin-top: 10%;
}

.google-login{
	height: 50px;
	width: 200px;
	background-color: #DC3C32;
	color: white;
	font-size: 14px;
	border-radius: 10px;
	font-style: normal;
	margin-top: 40px;
	margin-left: 20px;
}

.container .chauka-login{
	height: 40%;
	width: 20%;
	display: block;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	margin-left: 10%;
}

i{
	color: white;
}

h2{
	margin-top: 10px;
}

