html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
* {
	box-sizing:  border-box;
}
.board{
	width: 100px;
	height: 100px;
	background-image: url(Lazer.png);
	background-position: 0 0;
	background-size: cover;
}

.board:hover{
	background-position: 100px 100px;
}
.board:cover{
	background-position: 100px 100px;
}

