html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

.container {
	width: 100px;
	height: 100px;
	background-color: red;
	opacity: 1;
	transition: all 20s ease-in;  /*ease  ease-in ease-out*/
}

.container:hover {
	width: 200px;
	background-color: blue;
	opacity: 0;
	transform: rotate(20deg)scale(2);

	
}